.nav {
    position: fixed;
    height: 250px;
    top: 0;
    left: 500px;
}

#nav {
    display: block;
    height: 250px;
}

li {
    float: right;
    text-align: center;
    font-size: 30px;
    display: flex;
    font-family: monospace;
}

nav .links a {
    text-decoration: none;
    color: white;
    display: block;
}

ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin-right: 150px;
}

header nav .link {
    width: 150px;
    max-width: 50%;
    min-width: 30%;
}
body {
    background-color: black;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.name {
    padding-top: 200px;
}
#name {
    display: block;
    color: white;
    font-size: 200px;
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#intro {
    color: rgba(238, 186, 54, 0.8);
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    display: block;
    font-family: monospace;
    overflow: hidden;
    animation: fadeIn ease-in-out 8s infinite;
    margin-top: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }

}

#about {
    height: 700px;
    margin-top: 400px;
    padding-top: 50px;
}

p {
    color: white;
    font-size: 26px;
    margin-left: 100px;
    font-family: monospace;
    width: 550px;
}

#AboutMe {
    font-size: 80px;
    color: rgba(100, 123, 229, 1);
    margin-left: 100px;
    font-family: monospace;
    font-weight: bold;
}

#skills {
    height: 700px;
    margin-top: 400px;
    padding-top: 50px;
}

#MySkills {
    font-size: 80px;
    color: rgba(100, 123, 229, 1);
    margin-left: 100px;
    font-family: monospace;
    font-weight: bold;
}

h3 {
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}

.column {
    float: left;
    padding: 30px 5px;
    width: 15%;
}

.row {
    margin-left: 100px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    padding: 0;
    text-align: center;
    background-color: rgba(26, 24, 24, 1);
    border-radius: 10px;
    height: 120px;
    width: 120px;
}

.card:hover {
    transform: scale(1.2);
}.card img {
    height: 70px;
    width: 70px;
 }


